openapi: 3.0.1
info:
  contact:
    email: support@mender.io
    name: support@mender.io
    url: https://hosted.mender.io
  description: |
    Combined API specification for the features of the different Mender backend services, suitable for code generation applications
  title: Mender API
  version: '1'
servers:
  - url: https://hosted.mender.io
tags:
  - name: Mender_API_Mender API
    x-displayName: Mender API
  - name: Audit_Logs_Internal API
    x-displayName: Internal API
  - name: Audit_Logs_Auditlogs Internal
    x-displayName: Auditlogs Internal
  - name: Audit_Logs_Management API
    x-displayName: Management API
  - name: Audit_Logs_Auditlogs Management
    x-displayName: Auditlogs Management
  - name: Deployments_Device API
    x-displayName: Device API
  - name: Deployments_v2_Device API
    x-displayName: Device API
  - name: Deployments_Internal_API_Internal API
    x-displayName: Internal API
  - name: Deployments_Management API
    x-displayName: Management API
  - name: Deployments_v1alpha1_Management API
    x-displayName: Management API
  - name: Deployments_v2_Management API
    x-displayName: Management API
  - name: Device_Authentication_Device API
    x-displayName: Device API
  - name: Device_Authentication_Internal API
    x-displayName: Internal API
  - name: Device_Authentication_Management API
    x-displayName: Management API
  - name: Device_configure_Device API
    x-displayName: Device API
  - name: Device_configure_Internal API
    x-displayName: Internal API
  - name: Device_configure_Management API
    x-displayName: Management API
  - name: Device_connect_Device API
    x-displayName: Device API
  - name: Device_connect_Internal API
    x-displayName: Internal API
  - name: Device_connect_Management API
    x-displayName: Management API
  - name: Device_monitor_Devices API
    x-displayName: Devices API
  - name: Device_monitor_Internal API
    x-displayName: Internal API
  - name: Device_monitor_Management API
    x-displayName: Management API
  - name: Device_inventory_Device API
    x-displayName: Device API
  - name: Device_inventory_Internal API
    x-displayName: Internal API
  - name: Device_inventory_filters_and_search_Internal API
    x-displayName: Internal API
  - name: Device_inventory_Management API
    x-displayName: Management API
  - name: Device_inventory_filters_and_search_Management API
    x-displayName: Management API
  - name: IoT_Manager_Internal API
    x-displayName: Internal API
  - name: IoT_Manager_Management API
    x-displayName: Management API
  - name: Tenants_APIs_Internal API
    x-displayName: Internal API
  - name: Tenants_APIs_Tenantadm Internal
    x-displayName: Tenantadm Internal
  - name: Tenants_APIs_Management API
    x-displayName: Management API
  - name: Tenants_APIs_Tenantadm Management
    x-displayName: Tenantadm Management
  - name: Tenants_APIs_v2_Management API
    x-displayName: Management API
  - name: Tenants_APIs_v2_Tenantadm Management v2
    x-displayName: Tenantadm Management v2
  - name: User_administration_and_authentication_Internal API
    x-displayName: Internal API
  - name: User_Administration_Management API
    x-displayName: Management API
  - name: User_Administration_v2_Management API
    x-displayName: Management API
  - name: Workflows_other
    x-displayName: other
paths:
  /api/internal/v1/auditlogs/alive:
    get:
      tags:
        - Audit_Logs_Auditlogs Internal
      summary: Get liveliness status of service
      operationId: Ping
      responses:
        '204':
          description: Successful response.
          content: {}
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/internal/v1/auditlogs/health:
    get:
      tags:
        - Audit_Logs_Auditlogs Internal
      summary: Get status of service
      operationId: Auditlogs Internal Check Health
      responses:
        '204':
          description: Successful response.
          content: {}
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/internal/v1/auditlogs/tenants/{tenant_id}:
    delete:
      tags:
        - Audit_Logs_Auditlogs Internal
      summary: Delete all the logs for given tenant.
      operationId: Delete Audit Logs
      parameters:
        - name: tenant_id
          in: path
          description: Tenant ID.
          required: true
          schema:
            type: string
      responses:
        '204':
          description: All the tenant logs have been successfully deleted.
          content: {}
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/internal/v1/auditlogs/tenants/{tenant_id}/logs:
    get:
      tags:
        - Audit_Logs_Auditlogs Internal
      summary: Returns a list of audit log objects.
      operationId: Get Audit Logs (internal)
      parameters:
        - name: tenant_id
          in: path
          description: Tenant ID.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Starting page.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Number of results per page.
          schema:
            type: integer
            default: 10
        - name: created_before
          in: query
          description: List only log entries created before and equal to Unix timestamp (UTC)
          schema:
            type: integer
        - name: created_after
          in: query
          description: List only log entries created after and equal to Unix timestamp (UTC)
          schema:
            type: integer
        - name: actor_id
          in: query
          description: If present, limits the results only to logs where actor has given id.
          schema:
            type: string
        - name: actor_type
          in: query
          description: If present, limits the results only to logs where actor is of a given type.
          schema:
            type: string
            enum:
              - user
              - device
        - name: actor_email
          in: query
          description: If present, limits the results only to logs where actors has given email address.
          schema:
            type: string
        - name: object_id
          in: query
          description: If present, limits the results only to logs where object has given id.
          schema:
            type: string
        - name: object_type
          in: query
          description: If present, limits the results only to logs where object is of a given type.
          schema:
            type: string
            enum:
              - user
              - deployment
              - artifact
              - device
        - name: object_deployment_name
          in: query
          description: If present, limits the results only to logs where object is a deployment with a given name.
          schema:
            type: string
        - name: sort
          in: query
          description: |
            Supports sorting the log list by creation date.
            By default logs are sorted by creation date in descending order (newest first).
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful response.
          headers:
            X-Total-Count:
              description: Total number of devices matched query.
              schema:
                type: string
            Link:
              description: |
                Standard header used for page navigation, page relations: 'first', 'next' and 'prev'.
              schema:
                type: string
          content:
            application/json:
              schema:
                title: ListOfLogs
                type: array
                description: A list of audit logs is returned.
                items:
                  $ref: '#/components/schemas/AuditLog'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Audit_Logs_Auditlogs Internal
      summary: Log event.
      operationId: Save Audit Log
      parameters:
        - name: tenant_id
          in: path
          description: Tenant ID.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditLog'
        required: true
      responses:
        '201':
          description: Event has been successfully logged.
          content: {}
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/management/v1/auditlogs/logs:
    get:
      tags:
        - Audit_Logs_Auditlogs Management
      summary: Returns a paged list of audit log objects.
      operationId: Get Audit Logs
      parameters:
        - name: page
          in: query
          description: Starting page.
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Number of results per page.
          schema:
            type: integer
            default: 10
        - name: created_before
          in: query
          description: List only log entries created before and equal to Unix timestamp (UTC)
          schema:
            type: integer
        - name: created_after
          in: query
          description: List only log entries created after and equal to Unix timestamp (UTC)
          schema:
            type: integer
        - name: actor_id
          in: query
          description: If present, limits the results only to logs where the actor has a given id.
          schema:
            type: string
        - name: actor_type
          in: query
          description: If present, limits the results only to logs where the actor is of a given type.
          schema:
            type: string
            enum:
              - user
              - device
        - name: actor_email
          in: query
          description: If present, limits the results only to logs where the actor has a given email address.
          schema:
            type: string
        - name: object_id
          in: query
          description: If present, limits the results only to logs where the object has a given id.
          schema:
            type: string
        - name: object_type
          in: query
          description: If present, limits the results only to logs where the object is of a given type.
          schema:
            type: string
            enum:
              - tenant
              - user
              - deployment
              - artifact
              - device
        - name: object_deployment_name
          in: query
          description: If present, limits the results only to logs where the object is a deployment and has a given name.
          schema:
            type: string
        - name: sort
          in: query
          description: |
            Supports sorting the log list by creation date.
            By default logs are sorted by creation date in descending order (newest first).
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful response.
          headers:
            X-Total-Count:
              description: Total number of devices matched query.
              schema:
                type: string
            Link:
              description: |
                Standard header used for page navigation, page relations: 'first', 'next' and 'prev'.
              schema:
                type: string
          content:
            application/json:
              schema:
                title: ListOfLogs
                type: array
                description: A list of audit logs is returned.
                items:
                  $ref: '#/components/schemas/AuditLog'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          description: |
            The user has sent too many requests in a given amount of time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      x-mender-plan:
        - enterprise
  /api/management/v1/auditlogs/logs/export:
    get:
      tags:
        - Audit_Logs_Auditlogs Management
      summary: Returns a paged list of audit log objects in text/csv format.
      operationId: Export Audit Logs
      parameters:
        - name: limit
          in: query
          description: Limit number of logs returned
          schema:
            type: integer
        - name: created_before
          in: query
          description: List only log entries created before and equal to Unix timestamp (UTC)
          schema:
            type: integer
        - name: created_after
          in: query
          description: List only log entries created after and equal to Unix timestamp (UTC)
          schema:
            type: integer
        - name: actor_id
          in: query
          description: If present, limits the results only to logs where the actor has a given id.
          schema:
            type: string
        - name: actor_type
          in: query
          description: If present, limits the results only to logs where the actor is of a given type.
          schema:
            type: string
            enum:
              - user
              - device
        - name: actor_email
          in: query
          description: If present, limits the results only to logs where the actors has a given email address.
          schema:
            type: string
        - name: object_id
          in: query
          description: If present, limits the results only to logs where the object has a given id.
          schema:
            type: string
        - name: object_type
          in: query
          description: If present, limits the results only to logs where the object is of a given type.
          schema:
            type: string
            enum:
              - user
              - deployment
              - artifact
              - device
        - name: object_deployment_name
          in: query
          description: If present, limits the results only to logs where the object is a deployment and has a given name.
          schema:
            type: string
        - name: sort
          in: query
          description: |
            Supports sorting the log list by creation date.
            By default logs are sorted by creation date in descending order (newest first).
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: format_separator
          in: query
          description: |
            Format string used to separate nested fields in the exported csv header
          schema:
            type: string
            default: .
        - name: ignore
          in: query
          description: |
            Header fields to ignore in the exported document (e.g. ignore=actor.id)
          schema:
            type: string
      responses:
        '200':
          description: |
            Successful response.

            Document follows in response body (chunked encoding).
          content:
            text/csv:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          description: |
            The user has sent too many requests in a given amount of time.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      x-mender-plan:
        - enterprise
  /api/devices/v1/deployments/artifacts:
    get:
      description: |
        Returns a collection of up to 100 artifacts matching the provided release name and device type.
      operationId: Device List Artifacts
      parameters:
        - description: name of the release
          in: query
          name: release_name
          required: true
          schema:
            type: string
        - description: Device type of device
          in: query
          name: device_type
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                  name: Application 1.0.0
                  description: Johns Monday test build
                  device_types_compatible:
                    - Beagle Bone
                  info:
                    format: mender
                    version: 3
                  updates:
                    - type_info:
                        type: rootfs-image
                      files:
                        - name: rootfs-image-1
                          checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                          size: 123
                          date: 2016-03-11T13:03:17.063+0000
                      meta_data: []
                  artifact_provides:
                    artifact_name: test
                    rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                    rootfs-image.version: test
                  artifact_depends:
                    device_type:
                      - test
                  clears_artifact_provides:
                    - rootfs-image.*
                  size: 36891648
                  modified: '2016-03-11T13:03:17.063493443Z'
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Artifact'
          description: Successful response.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: List artifacts filtering by release name and device type
      tags:
        - Deployments_Device API
  /api/devices/v1/deployments/artifacts/{id}:
    get:
      description: |
        Returns the details of a selected artifact.
      operationId: Device Show Artifact
      parameters:
        - description: Artifact identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                name: Application 1.0.0
                description: Johns Monday test build
                device_types_compatible:
                  - Beagle Bone
                info:
                  format: mender
                  version: 3
                updates:
                  - type_info:
                      type: rootfs-image
                    files:
                      - name: rootfs-image-1
                        checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                        size: 123
                        date: 2016-03-11T13:03:17.063+0000
                    meta_data: []
                artifact_provides:
                  artifact_name: test
                  rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                  rootfs-image.version: test
                artifact_depends:
                  device_type:
                    - test
                clears_artifact_provides:
                  - rootfs-image.*
                size: 36891648
                modified: '2016-03-11T13:03:17.063493443Z'
              schema:
                $ref: '#/components/schemas/Artifact'
          description: Successful response.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Get the details of a selected artifact
      tags:
        - Deployments_Device API
  /api/devices/v1/deployments/artifacts/{id}/download:
    get:
      description: |
        Generates signed URL for downloading artifact file. URI can be used only
        with GET HTTP method. Link supports such HTTP headers: 'Range',
        'If-Modified-Since', 'If-Unmodified-Since' It is valid for specified
        period of time.
      operationId: Devices Download Artifact
      parameters:
        - description: Artifact identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactLink'
          description: Successful response.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Get the download link of a selected artifact
      tags:
        - Deployments_Device API
  /api/devices/v1/deployments/device/deployments/next:
    get:
      description: |
        On success, either an empty response or a DeploymentInstructions object
        is returned depending on whether there are any pending updates.
      operationId: Device Check Update
      parameters:
        - description: currently installed artifact
          in: query
          name: artifact_name
          required: true
          schema:
            type: string
        - description: Device type of device
          in: query
          name: device_type
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                id: w81s4fae-7dec-11d0-a765-00a0c91e6bf6
                artifact:
                  artifact_name: my-app-0.1
                  source:
                    uri: https://aws.myupdatebucket.com/image123
                    expire: '2016-03-11T13:03:17.063493443Z'
                  device_types_compatible:
                    - rspi
                    - rspi2
                    - rspi0
              schema:
                $ref: '#/components/schemas/DeploymentInstructions'
          description: Successful response.
        '204':
          content: {}
          description: No updates for device.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Get next update
      tags:
        - Deployments_Device API
    post:
      description: |
        Returns the next update to be installed on the device.
        Next update will be chosen based on parameters provided in the request
        body. Request body should contain artifact_provides object.
      operationId: Check Update Depends
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckUpdateDependsRequest'
        description: |
          Key-value map of strings which describes the artifact(s) installed on the device and the
          device itself. It is used to determine the next deployment. The keys device_type and
          artifact_name are mandatory, additional free-form key-value pairs can be specified.
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                id: w81s4fae-7dec-11d0-a765-00a0c91e6bf6
                artifact:
                  artifact_name: my-app-0.1
                  source:
                    uri: https://aws.my.update.bucket.com/image_123
                    expire: '2016-03-11T13:03:17.063493443Z'
                  device_types_compatible:
                    - rspi
                    - rspi2
                    - rspi0
              schema:
                $ref: '#/components/schemas/DeploymentInstructions'
          description: Successful response.
        '204':
          content: {}
          description: No updates for device.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Get a next update satisfying dependencies
      tags:
        - Deployments_Device API
  /api/devices/v1/deployments/device/deployments/{id}/status:
    put:
      description: |
        Updates the status of a deployment on a particular device. Final status
        of the deployment is required to be set to indicate the success or failure
        of the installation process. The status can not be changed when deployment
        status is set to aborted. Reporting of intermediate steps such as
        installing, downloading, rebooting is optional.
      operationId: Update Deployment Status
      parameters:
        - description: Deployment identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentStatus'
        description: Deployment status.
        required: true
      responses:
        '204':
          content: {}
          description: Status updated successfully.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          content: {}
          description: Status already set to aborted.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Update the device deployment status
      tags:
        - Deployments_Device API
  /api/devices/v1/deployments/device/deployments/{id}/log:
    put:
      description: |
        Set the log of a selected deployment. Messages are split by line in the payload.
      operationId: Report Deployment Log
      parameters:
        - description: Deployment identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentLog'
        description: Deployment log
        required: true
      responses:
        '204':
          content: {}
          description: The deployment log uploaded successfully.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Upload the device deployment log
      tags:
        - Deployments_Device API
  /api/devices/v1/deployments/download/configuration/{deployment_id}/{device_type}/{device_id}:
    get:
      operationId: Fetch Configuration
      parameters:
        - description: Deployment UUID
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
        - description: Device type of the calling device
          in: path
          name: device_type
          required: true
          schema:
            type: string
        - description: Device UUID
          in: path
          name: device_id
          required: true
          schema:
            type: string
        - description: Time of link expire
          in: query
          name: x-men-expire
          required: true
          schema:
            format: date-time
            type: string
        - description: Signature of the URL link
          in: query
          name: x-men-signature
          required: true
          schema:
            type: string
        - description: Device tenant ID
          in: query
          name: tenant_id
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Artifact file
                format: binary
                type: string
          description: Successful response
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          content: {}
          description: The download link has expired or the signature is invalid.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      summary: |
        Internally generated download link for deploying device configurations.
        All parameters are generated internally when fetching a configuration deployment.
      tags:
        - Deployments_Device API
  /api/devices/v2/deployments/device/deployments/next:
    post:
      description: |
        Returns the next update to be installed on the device.
        Next update will be chosen based on parameters provided in the request
        body.
      operationId: Check Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckUpdateRequest'
        description: |
          Request which describes the artifact(s) installed on the devices and the suppported features. The device_provides attribute contains a key-value map of strings which describes the artifact(s) installed on the device and the device itself. It is used to determine the next deployment. The keys device_type and artifact_name are mandatory, additional free-form key-value pairs can be specified.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentInstructionsV2'
          description: Successful response.
        '204':
          content: {}
          description: No updates for device.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Get a next update satisfying dependencies
      tags:
        - Deployments_v2_Device API
  /api/devices/v2/deployments/device/deployments/{id}/update_control_map:
    get:
      description: |
        Returns the update control map assigned to given, active deployment.
      operationId: Get Update Control Map
      parameters:
        - description: Deployment identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateControlMap'
          description: Successful response.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Device deployment with given ID does not exist
            or has been finished.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - DeviceJWT: []
      summary: Get the update control map object
      tags:
        - Deployments_v2_Device API
  /api/internal/v1/deployments/health:
    get:
      operationId: Deployments Internal Check Health
      responses:
        '204':
          content: {}
          description: |
            Service is healthy and all dependencies are up and running.
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          content:
            application/json:
              example:
                error: 'error reaching MongoDB: context deadline exceeded'
                request_id: ffd712be-d697-4cb7-814b-88ff1e2eb5f6
              schema:
                $ref: '#/components/schemas/Error'
          description: |
            Service unhealthy / not ready to accept traffic. At least one dependency is not running.
      summary: Check the health of the service
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/alive:
    get:
      operationId: Deployments Internal Check Liveliness
      responses:
        '204':
          content: {}
          description: Service is up and running.
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: |
        Trivial endpoint that unconditionally returns an empty 204 response whenever the API handler is running correctly.
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/config/binary_delta:
    get:
      description: |
        Returns an array of objects containing the tenant ID and a boolean flag which represents whether the binary delta generation is enabled or not for the given tenant.
      operationId: Get Binary Delta Configurations
      responses:
        '200':
          content:
            application/json:
              example:
                - tenant_id: 58be8208dd77460001fe0d78
                  enabled: true
                - tenant_id: 58be8208dd77460001fe0d79
                  enabled: false
              schema:
                items:
                  $ref: '#/components/schemas/Get_Binary_Delta_Configurations_200_response_inner'
                type: array
          description: Successful response with binary delta configurations.
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Retrieve binary delta generation configurations for all tenants
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{id}/storage/settings:
    get:
      description: |
        Returns an object with per tenant storage layer specific settings.
      operationId: Get Storage Settings
      parameters:
        - description: Tenant ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSettings'
          description: Successful response with all available settings.
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Get storage setting for a given tenant
      tags:
        - Deployments_Internal_API_Internal API
    put:
      description: Set the storage layer settings for a given tenant.
      operationId: Set Storage Settings
      parameters:
        - description: Tenant ID
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageSettings'
        description: |-
          Settings to set.
          If set to null or an empty object, the tenant will use the default settings.
        required: false
      responses:
        '204':
          content: {}
          description: Settings updated.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Set storage settings for a given tenant
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{id}/limits/{name}:
    parameters:
      - description: Tenant ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Name
        in: path
        name: name
        required: true
        schema:
          type: string
          enum:
            - storage
            - max_artifact_size_micro_device_tier
    get:
      description: |
        Get limit by name for a given tenant.
        If the limit value is -1 it means the limit is unlimited.
      operationId: Deployments Internal Get Tenant Limit
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantLimit'
          description: Successful response.
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Get limit for the given tenant
      tags:
        - Deployments_Internal_API_Internal API
    put:
      description: |
        Set limit for given tenant.
        If the limit value is -1 it means the limit is unlimited.
      operationId: Set Tenant Limit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantLimitValue'
        required: true
      responses:
        '204':
          content: {}
          description: Limit information updated.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Set limit for given tenant
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants:
    post:
      description: |
        Sets up all tenant-related infrastructure, e.g. a migrated tenant's database.
      operationId: Deployments Internal Create Tenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantNew'
        description: New tenant descriptor.
        required: true
      responses:
        '201':
          content: {}
          description: Tenant was successfully provisioned.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Provision a new tenant
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{id}/deployments:
    get:
      description: |
        Returns a filtered collection of deployments in the system,
        including active and historical. If both 'status' and 'query' are
        not specified, all devices are listed.
      operationId: Get Deployments
      parameters:
        - description: Tenant ID
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Deployment status filter.
          in: query
          name: status
          schema:
            enum:
              - inprogress
              - finished
              - pending
            type: string
        - description: Deployment name or description filter.
          in: query
          name: search
          schema:
            type: string
        - description: Results page number
          in: query
          name: page
          schema:
            default: 1
            type: integer
        - description: List only deployments created before and equal to Unix timestamp (UTC)
          in: query
          name: created_before
          schema:
            type: integer
        - description: List only deployments created after and equal to Unix timestamp (UTC)
          in: query
          name: created_after
          schema:
            type: integer
        - description: |
            Supports sorting the deployments list by creation date.
          in: query
          name: sort
          schema:
            enum:
              - asc
              - desc
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                - created: '2016-02-11 13:03:17.063493+00:00'
                  status: finished
                  name: production
                  artifact_name: Application 0.0.1
                  id: 00a0c91e6-7dec-11d0-a765-f81d4faebf6
                  finished: '2016-03-11 13:03:17.063493+00:00'
                  device_count: 10
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentV1Internal'
                type: array
          description: Successful response.
          headers:
            X-Total-Count:
              description: Total number of deployments matching query.
              schema:
                type: integer
        '400':
          $ref: '#/components/responses/InvalidRequestError'
      summary: Get all deployments for specific tenant
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{tenant_id}/deployments/{id}/groups:
    get:
      description: |
        Returns the device groups of a particular deployment.
        Getting empty groups means the deployment are sent to all devices.
      operationId: Get Deployment Groups
      parameters:
        - description: Tenant ID
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
        - description: Deployment identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroups'
          description: Successful response.
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Get the details of a selected deployment
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{id}:
    delete:
      description: |
        Deletes all the tenant data.
      operationId: Delete tenant internal deployments
      parameters:
        - description: Tenant ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Successful removal.
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Delete all the tenant data
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{tenant_id}/deployments/devices:
    get:
      description: |
        Return the Deployments history entries for the specified IDs
      operationId: List Device Deployments entries
      parameters:
        - description: Tenant ID
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
        - description: Deployment Device ID filter. Can be repeated to query a set of entries.
          explode: true
          in: query
          name: id
          schema:
            items:
              type: string
            type: array
          style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeviceDeployment'
                type: array
          description: OK
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Return the Deployments history entries for the specified IDs
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{tenant_id}/deployments/devices/{id}:
    delete:
      description: Set 'decommissioned' status to all pending device deployments for a given device
      operationId: Remove Device from Deployments
      parameters:
        - description: Tenant ID
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
        - description: System wide device identifier
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Device was removed
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Remove device from all deployments
      tags:
        - Deployments_Internal_API_Internal API
    get:
      description: |
        Return the Deployments history for the specified Device, listing all its Deployments.
      operationId: Deployments Internal List Deployments for a Device
      parameters:
        - description: Tenant ID
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
        - description: System wide device identifier
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Filter deployments by status for the given device.
          in: query
          name: status
          schema:
            enum:
              - failure
              - aborted
              - pause_before_installing
              - pause_before_committing
              - pause_before_rebooting
              - downloading
              - installing
              - rebooting
              - pending
              - success
              - noartifact
              - artifact_too_big
              - already-installed
              - decommissioned
              - pause
              - active
              - finished
            type: string
        - description: Starting page.
          in: query
          name: page
          schema:
            default: 1
            type: integer
        - description: Maximum number of results per page.
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 20
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeviceDeployment'
                type: array
          description: OK
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Return the Deployments history for a Device
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{id}/artifacts:
    post:
      description: |
        Upload mender artifact to a specific tenant. Multipart request with meta and artifact.
        Supports artifact [versions v1, v2, v3](https://docs.mender.io/overview/artifact#versions).
      operationId: Deployments Internal Upload artifact
      parameters:
        - description: Tenant ID, or "default" if running in non-multitenant setup
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Upload_artifact_request'
        required: true
      responses:
        '201':
          content: {}
          description: Artifact uploaded.
          headers:
            Location:
              description: URL of the newly uploaded artifact.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Upload mender artifact
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{tenant_id}/configuration/deployments/{deployment_id}/devices/{device_id}:
    post:
      description: |
        Deploy configuration to a specified device.
        The artifact will be auto-generated based on the configuration object
        provided with the deployment constructor.
      operationId: Deployments Internal Create Deployment
      parameters:
        - description: Tenant identifier.
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
        - description: Device identifier.
          in: path
          name: device_id
          required: true
          schema:
            type: string
        - description: Deployment identifier.
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationDeploymentRequest'
        description: New deployment that needs to be created.
        required: true
      responses:
        '201':
          content: {}
          description: New configuration deployment created.
          headers:
            Location:
              description: URL of the newly created deployment.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Create a configuration deployment
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{tenant_id}/config:
    get:
      operationId: Get Tenant Configuration
      parameters:
        - description: Tenant identifier.
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationTenant'
          description: Successful response.
          headers:
            ETag:
              description: |
                Contains the configuration object's current ETag.
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Get Tenant specific configuration
      tags:
        - Deployments_Internal_API_Internal API
    put:
      operationId: Update Tenant Configuration
      parameters:
        - description: Tenant identifier.
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
        - description: Contains the config' current ETag, and performs the update only if it matches the one stored in the database.
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationTenant'
        description: Configuration update.
        required: true
      responses:
        '204':
          content: {}
          description: Configuration updated.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '412':
          content: {}
          description: Document with a matching ETag does not exist.
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Set tenant configuration
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{tenant_id}/delta/{job_id}/status:
    put:
      description: |
        Generate delta worker uses this endpoint to report back generate delta job status.
      operationId: Update Delta Job Status
      parameters:
        - description: Tenant identifier.
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
        - description: Job identifier.
          in: path
          name: job_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDeltaJobStatus'
        description: New job status.
        required: true
      responses:
        '204':
          content: {}
          description: Status updated sucessfully.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Update status of generate delta job
      tags:
        - Deployments_Internal_API_Internal API
  /api/internal/v1/deployments/tenants/{tenant_id}/devices/deployments/last:
    post:
      description: |
        Return the status of the last unsucessful device deployment.
      operationId: Get last device deployment status
      parameters:
        - description: Tenant identifier.
          in: path
          name: tenant_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LastDeviceDeploymentReq'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastDeviceDeploymentsStatuses'
          description: List of device deployment statuses returned.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Get status of the last device devployment
      tags:
        - Deployments_Internal_API_Internal API
  /api/management/v1/deployments/deployments:
    get:
      deprecated: true
      description: |
        Returns a filtered collection of deployments in the system,
        including active and historical. If both 'status' and 'query' are
        not specified, all devices are listed.

        DEPRECATED: _since Mon Oct 21 2024_ we deprecated the endpoint due to an issue with the "search" query
          behavior. Please use the v2 /deployments/deployments endpoint instead.
          In the new endpoint, we replaced search parameter with the "id" and "name" parameters.
      operationId: Deployments V1 List Deployments
      parameters:
        - description: Deployment status filter.
          in: query
          name: status
          schema:
            enum:
              - inprogress
              - finished
              - pending
              - scheduled
            type: string
        - description: |
            Deployment type filter.
          in: query
          name: type
          schema:
            enum:
              - software
              - configuration
            type: string
        - description: Deployment name or description filter.
          in: query
          name: search
          schema:
            type: string
        - description: Results page number
          in: query
          name: page
          schema:
            default: 1
            type: integer
        - description: Maximum number of results per page.
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 500
            type: integer
        - description: List only deployments created before and equal to Unix timestamp (UTC)
          in: query
          name: created_before
          schema:
            type: integer
        - description: List only deployments created after and equal to Unix timestamp (UTC)
          in: query
          name: created_after
          schema:
            type: integer
        - description: |
            Supports sorting the deployments list by creation date.
          in: query
          name: sort
          schema:
            enum:
              - asc
              - desc
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                - created: '2016-02-11T13:03:17.063493443Z'
                  status: finished
                  name: production
                  artifact_name: Application 0.0.1
                  id: 00a0c91e6-7dec-11d0-a765-f81d4faebf6
                  finished: '2016-03-11T13:03:17.063493443Z'
                  device_count: 10
                  retries: 0
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentV1'
                type: array
          description: Successful response.
          headers:
            X-Total-Count:
              description: Total number of deployments matching query.
              schema:
                type: integer
            Link:
              description: Standard header, we support 'first', 'next', and 'prev'.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Find all deployments
      tags:
        - Deployments_Management API
    post:
      description: |
        Deploy software to specified devices. Artifact is auto assigned to the
        device from all available artifacts based on artifact name and device type.
        Devices for which there are no compatible artifacts to be installed are
        considered finished successfully as well as receive status of `noartifact`.
        If there is no artifacts for the deployment, deployment will not be created
        and the 422 Unprocessable Entity status code will be returned.
      operationId: Deployments Create Deployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewDeploymentTypeManagement'
        description: New deployment that needs to be created.
        required: true
      responses:
        '201':
          content: {}
          description: New deployment created.
          headers:
            Location:
              description: URL of the newly created deployment.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An active deployment with the same parameters already exists.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Create a deployment
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/statistics/list:
    post:
      operationId: Deployment Status Statistics List
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentIdentifier'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                  stats:
                    success: 3
                    pending: 1
                    failure: 0
                    downloading: 1
                    installing: 2
                    rebooting: 3
                    noartifact: 0
                    artifact_too_big: 0
                    already-installed: 0
                    aborted: 0
                    pause_before_installing: 1
                    pause_before_rebooting: 1
                    pause_before_committing: 1
                - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                  stats:
                    success: 3
                    pending: 1
                    failure: 0
                    downloading: 1
                    installing: 2
                    rebooting: 3
                    noartifact: 0
                    artifact_too_big: 0
                    already-installed: 0
                    aborted: 0
                    pause_before_installing: 1
                    pause_before_rebooting: 1
                    pause_before_committing: 1
              schema:
                items:
                  $ref: '#/components/schemas/DeploymentStatusStatisticsList200ResponseInner'
                type: array
          description: OK
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        Get status count for all devices in the listed deployments (plural).
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/group/{name}:
    post:
      description: |
        Deploy software to devices belonging to the specified group.

        Artifact is auto assigned to the device from all available artifacts based
        on artifact name and device type. Devices for which there are no compatible
        artifacts to be installed are considered finished successfully as well as
        receive status of `noartifact`. If there is no artifacts for the deployment,
        deployment will not be created and the 422 Unprocessable Entity status code
        will be returned.
      operationId: Create Deployment for a Group of Devices
      parameters:
        - description: Device group name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewDeploymentForGroup'
        description: New deployment that needs to be created.
        required: true
      responses:
        '201':
          content: {}
          description: New deployment created.
          headers:
            Location:
              description: URL of the newly created deployment.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An active deployment with the same parameters already exists.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Create a deployment for a group of devices
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/{id}:
    get:
      description: |
        Returns the details of a particular deployment.
      operationId: Show Deployment
      parameters:
        - description: Deployment identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentV1'
          description: Successful response.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Get the details of a selected deployment
      tags:
        - Deployments_Management API
    patch:
      description: |
        Updates the deployment's update control map.
        It is possible to update the deployment's update control map
        only if the map exists.
        In case the control map does not exist,
        409 Conflict error will be returned.
      operationId: Patch Deployment Control Map
      parameters:
        - description: Deployment identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDeploymentControlMapRequest'
        description: Update control map to set.
        required: true
      responses:
        '204':
          content: {}
          description: Control map updated.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: An active deployment with the same parameters already exists.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Update the deployment's update control map
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/{deployment_id}/status:
    put:
      description: |
        Abort an ongoing deployment. For devices included in this deployment it means that:

        - Devices that have completed the deployment (i.e. reported final status) are not affected by the abort, and their original status is kept in the deployment report.

        - Devices that do not yet know about the deployment at time of abort will not start the deployment.

        - Devices that are in the middle of the deployment at time of abort will finish its deployment normally, but they will not be able to change its deployment status so they will perform rollback.
      operationId: Abort Deployment
      parameters:
        - description: Deployment identifier.
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AbortDeploymentRequest'
        description: Deployment status.
        required: true
      responses:
        '204':
          content: {}
          description: Status updated successfully.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Abort the deployment
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/{deployment_id}/statistics:
    get:
      operationId: Deployment Status Statistics
      parameters:
        - description: Deployment identifier
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                success: 3
                pending: 1
                failure: 0
                downloading: 1
                installing: 2
                rebooting: 3
                noartifact: 0
                artifact_too_big: 0
                already-installed: 0
                aborted: 0
                pause_before_installing: 1
                pause_before_rebooting: 1
                pause_before_committing: 1
              schema:
                $ref: '#/components/schemas/Statistics'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        Get status count for all devices in a deployment.
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/{deployment_id}/devices:
    get:
      deprecated: true
      operationId: List All Devices in Deployment
      parameters:
        - description: Deployment identifier.
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeviceWithImage'
                type: array
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        DEPRECATED: _since Wed May 19 2021_ this end-point is deprecated because it doesn't support
        pagination and will be removed in the future, please use the
        /deployments/{deployment_id}/devices/list end-point instead.
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/{deployment_id}/devices/list:
    get:
      operationId: List Devices in Deployment
      parameters:
        - description: Deployment identifier.
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
        - description: Filter devices by status within deployment.
          in: query
          name: status
          schema:
            anyOf:
              - $ref: '#/components/schemas/DeploymentDeviceStatus'
              - $ref: '#/components/schemas/DeploymentDeviceStatusGet'
        - description: Starting page.
          in: query
          name: page
          schema:
            default: 1
            type: integer
        - description: Maximum number of results per page.
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 500
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeviceWithImage'
                type: array
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        Get the list of devices and their respective status for the deployment
        with the given ID. The response includes devices as they get assigned
        to the deployment when checking for updates. Therefore, this endpoint
        will list all the devices only once each asks for updates and evaluates
        this deployment.
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/{id}/device_list:
    get:
      operationId: List Device IDs in Deployment
      parameters:
        - description: Deployment identifier.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                - 00a0c91e6-7dec-11d0-a765-f81d4faebf6
                - 00a0c91e6-7dec-11d0-a765-f81d4faebf8
                - 00a0c91e6-7dec-11d0-a765-f81d4faebf7
              schema:
                description: List of device IDs
                items:
                  type: string
                type: array
          description: Successful response.
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Get the list of device IDs being part of the deployment.
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/{deployment_id}/devices/{device_id}/log:
    get:
      description: |
        The response body for this endpoint include the device's deployment logs
        in text/plain format.
      operationId: Get Deployment Log for Device
      parameters:
        - description: Deployment identifier.
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
        - description: Device identifier.
          in: path
          name: device_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
          description: Successful response, including the logs in text/plain format.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Get the log of a selected device's deployment
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/{deployment_id}/devices/{device_id}/delta/status:
    get:
      description: |
        The response body for this endpoint include a detailed information on the delta
        generation job.
      operationId: Get Delta Generation Status
      parameters:
        - description: Deployment identifier.
          in: path
          name: deployment_id
          required: true
          schema:
            type: string
        - description: Device identifier.
          in: path
          name: device_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: Successful response, including the status in application/json format.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Get the detailed status of server side delta generation
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/devices/{id}:
    delete:
      description: |
        Abort all the active and pending Deployments for the specified Device.

        Please note that deployments for the Device not targeting it when issuing this API call won't be aborted. If the deployment applies to the Device in the future, for example, because of inventory updates, the Device will still process the deployment.
      operationId: Abort Deployments for a Device
      parameters:
        - description: System wide device identifier
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Operation completed successfully.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Abort all the active and pending Deployments for a Device
      tags:
        - Deployments_Management API
    get:
      description: |
        Return the Deployments history for the specified Device, listing all its Deployments.
      operationId: Deployments List Deployments for a Device
      parameters:
        - description: System wide device identifier
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Filter deployments by status for the given device.
          in: query
          name: status
          schema:
            $ref: '#/components/schemas/DeploymentDeviceStatus'
        - description: Starting page.
          in: query
          name: page
          schema:
            default: 1
            type: integer
        - description: Maximum number of results per page.
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 20
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DeviceDeploymentV1'
                type: array
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Return the Deployments history for a Device
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/devices/{id}/history:
    delete:
      description: |
        Mark as logically deleted the completed Device Deployments records for the given device.
        This effectively resets the Device Deployments history and makes the
        device eligible (again) for all the active deployments.
      operationId: Reset Device Deployments history
      parameters:
        - description: System wide device identifier
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          content: {}
          description: Operation completed successfully.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Reset the Device Deployments history
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/releases:
    get:
      deprecated: true
      description: |
        Returns a collection of releases, allows filtering by release name.

        DEPRECATED: _since Wed May 19 2021_ this end-point is deprecated because it doesn't support
        pagination and will be removed in the future, please use the
        /deployments/releases/list end-point instead.
      operationId: List Releases
      parameters:
        - description: Release name filter.
          in: query
          name: name
          schema:
            type: string
        - description: Release description filter.
          in: query
          name: description
          schema:
            type: string
        - description: Release device type filter.
          in: query
          name: device_type
          schema:
            type: string
        - description: Update type filter.
          in: query
          name: update_type
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                - name: my-app-v1.0.1
                  artifacts:
                    - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                      name: Application 1.0.0
                      description: Johns Monday test build
                      device_types_compatible:
                        - Beagle Bone
                      info:
                        format: mender
                        version: 3
                      updates:
                        - type_info:
                            type: rootfs-image
                          files:
                            - name: rootfs-image-1
                              checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                              size: 123
                              date: 2016-03-11T13:03:17.063+0000
                          metadata: {}
                          meta_data: []
                      artifact_provides:
                        artifact_name: test
                        rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                        rootfs-image.version: test
                      artifact_depends:
                        device_type:
                          - test
                      clears_artifact_provides:
                        - rootfs-image.*
                      size: 36891648
                      modified: '2016-03-11T13:03:17.063493443Z'
                    - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                      name: Application 1.0.0
                      description: Johns Monday test build
                      device_types_compatible:
                        - Raspberry Pi
                      info:
                        format: mender
                        version: 3
                      updates:
                        - type_info:
                            type: rootfs-image
                          files:
                            - name: rootfs-image-1
                              checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                              size: 123
                              date: 2016-03-11T13:03:17.063+0000
                          metadata: {}
                          meta_data: []
                      artifact_provides:
                        artifact_name: test
                        rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                        rootfs-image.version: test
                      artifact_depends:
                        device_type:
                          - test
                      clears_artifact_provides:
                        - rootfs-image.*
                      size: 36891648
                      modified: '2016-03-11T13:03:17.063493443Z'
                - name: my-app-v2.0.0
                  artifacts:
                    - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                      name: Application 2.0.0
                      description: Johns Monday test build
                      device_types_compatible:
                        - Beagle Bone
                      info:
                        format: mender
                        version: 3
                      updates:
                        - type_info:
                            type: rootfs-image
                          files:
                            - name: rootfs-image-1
                              checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                              size: 123
                              date: 2016-03-11T13:03:17.063+0000
                          metadata: {}
                          meta_data: []
                      artifact_provides:
                        artifact_name: test
                        rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                        rootfs-image.version: test
                      artifact_depends:
                        device_type:
                          - test
                      clears_artifact_provides:
                        - rootfs-image.*
                      size: 36891648
                      modified: '2016-03-11T13:03:17.063493443Z'
              schema:
                $ref: '#/components/schemas/ReleasesV1'
          description: Successful response.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        List releases
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/deployments/releases/list:
    get:
      deprecated: true
      description: |
        Returns a collection of releases, allows filtering by release name and sorting
        by name or last modification date.

        DEPRECATED: _since Sep 24 2023_ due to a mismatch in the capitalization of the fields of the response
        body and lack of support for advanced filters and sorting, we have deprecated this
        endpoint. Please use the v2 /deployments/releases end-point instead.
      operationId: Deployments V1 List Releases with pagination
      parameters:
        - description: Release name filter.
          in: query
          name: name
          schema:
            type: string
        - description: Release description filter.
          in: query
          name: description
          schema:
            type: string
        - description: Release device type filter.
          in: query
          name: device_type
          schema:
            type: string
        - description: Update type filter.
          in: query
          name: update_type
          schema:
            type: string
        - description: Starting page.
          in: query
          name: page
          schema:
            default: 1
            type: integer
        - description: Maximum number of results per page.
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 500
            type: integer
        - description: |
            Sort the release list by the specified field and direction.
          in: query
          name: sort
          schema:
            default: name:asc
            enum:
              - artifacts_count:asc
              - artifacts_count:desc
              - modified:asc
              - modified:desc
              - name:asc
              - name:desc
              - tags:asc
              - tags:desc
            type: string
      responses:
        '200':
          content:
            application/json:
              example:
                - name: my-app-v1.0.1
                  artifacts:
                    - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                      name: Application 1.0.0
                      description: Johns Monday test build
                      device_types_compatible:
                        - Beagle Bone
                      info:
                        format: mender
                        version: 3
                      updates:
                        - type_info:
                            type: rootfs-image
                          files:
                            - name: rootfs-image-1
                              checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                              size: 123
                              date: 2016-03-11T13:03:17.063+0000
                          metadata: {}
                          meta_data: []
                      artifact_provides:
                        artifact_name: test
                        rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                        rootfs-image.version: test
                      artifact_depends:
                        device_type:
                          - test
                      clears_artifact_provides:
                        - rootfs-image.*
                      size: 36891648
                      modified: '2016-03-11T13:03:17.063493443Z'
                    - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                      name: Application 1.0.0
                      description: Johns Monday test build
                      device_types_compatible:
                        - Raspberry Pi
                      info:
                        format: mender
                        version: 3
                      updates:
                        - type_info:
                            type: rootfs-image
                          files:
                            - name: rootfs-image-1
                              checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                              size: 123
                              date: 2016-03-11T13:03:17.063+0000
                          metadata: {}
                          meta_data: []
                      artifact_provides:
                        artifact_name: test
                        rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                        rootfs-image.version: test
                      artifact_depends:
                        device_type:
                          - test
                      clears_artifact_provides:
                        - rootfs-image.*
                      size: 36891648
                      modified: '2016-03-11T13:03:17.063493443Z'
                - name: my-app-v2.0.0
                  artifacts:
                    - id: 0c13a0e6-6b63-475d-8260-ee42a590e8ff
                      name: Application 2.0.0
                      description: Johns Monday test build
                      device_types_compatible:
                        - Beagle Bone
                      info:
                        format: mender
                        version: 3
                      updates:
                        - type_info:
                            type: rootfs-image
                          files:
                            - name: rootfs-image-1
                              checksum: cc436f982bc60a8255fe1926a450db5f195a19ad
                              size: 123
                              date: 2016-03-11T13:03:17.063+0000
                          metadata: {}
                          meta_data: []
                      artifact_provides:
                        artifact_name: test
                        rootfs-image.checksum: 32714818ad6f98ee0185a52e23a475d89122e3efd2b2c26c733781c28e798c99
                        rootfs-image.version: test
                      artifact_depends:
                        device_type:
                          - test
                      clears_artifact_provides:
                        - rootfs-image.*
                      size: 36891648
                      modified: '2016-03-11T13:03:17.063493443Z'
              schema:
                $ref: '#/components/schemas/ReleasesV1'
          description: Successful response.
          headers:
            X-Total-Count:
              description: Total number of releases matching query.
              schema:
                type: integer
            Link:
              description: Standard header, we support 'first', 'next', and 'prev'.
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        List releases with pagination
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/artifacts:
    get:
      deprecated: true
      description: |
        Returns a collection of all artifacts.

        DEPRECATED: _since Oct 18 2021_ this end-point is deprecated because it doesn't support
        pagination and will be removed in the future, please use the
        /artifacts/list end-point instead.
      operationId: List Artifacts
      parameters:
        - description: Release name filter.
          in: query
          name: name
          schema:
            type: string
        - description: Release description filter.
          in: query
          name: description
          schema:
            type: string
        - description: Release device type filter.
          in: query
          name: device_type
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ArtifactV1'
                type: array
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        List all the artifacts
      tags:
        - Deployments_Management API
    post:
      description: |
        Upload mender artifact. Multipart request with meta and artifact.
        Supports artifact [versions v1, v2, v3](https://docs.mender.io/overview/artifact#versions).
      operationId: Upload Artifact Deployments Management
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadArtifactRequest'
        required: true
      responses:
        '201':
          content: {}
          description: Artifact uploaded.
          headers:
            Location:
              description: URL of the newly uploaded artifact.
              schema:
                type: string
        '400':
          $ref: '#/components/responses/InvalidRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          content:
            application/json:
              example:
                error: an artifact with the same name and depends already exists
                request_id: e4dde7e9-9424-4311-8648-86e24b542410
                metadata:
                  conflict:
                    want: cookies
              schema:
                $ref: '#/components/schemas/ErrorExt'
          description: |
            An artifact with the same name and matching dependency requirements already exists.
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Upload mender artifact
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/artifacts/list:
    get:
      deprecated: true
      description: |
        Returns a collection of all artifacts.

        DEPRECATED: _since Tue Jul 22 2025_ we deprecated the endpoint due to performance issues.
        Please use the v2 /artifacts endpoint instead.
        In the new endpoint, we support exact and prefix matching for the various fields
      operationId: Deployments V1 List Artifacts with pagination
      parameters:
        - description: Artifact name filter.
          in: query
          name: name
          schema:
            type: string
        - description: Artifact description filter.
          in: query
          name: description
          schema:
            type: string
        - description: Artifact device type filter.
          in: query
          name: device_type
          schema:
            type: string
        - description: Starting page.
          in: query
          name: page
          schema:
            default: 1
            type: integer
        - description: Maximum number of results per page.
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 500
            type: integer
        - description: |
            Sort the artifact list by the specified field and direction.
          in: query
          name: sort
          schema:
            default: name:asc
            enum:
              - name:asc
              - name:desc
              - modified:asc
              - modified:desc
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ArtifactV1'
                type: array
          description: OK
          headers:
            X-Total-Count:
              description: Total number of releases matching query.
              schema:
                type: integer
            Link:
              description: Standard header, we support 'first', 'next', and 'prev'.
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: |
        List known artifacts
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/artifacts/directupload:
    post:
      operationId: Request Direct Upload
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactUploadLink'
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - ManagementJWT: []
      summary: Request link for uploading artifact directly to the storage backend. This is an on-prem endpoint only, not available on Hosted Mender.
      tags:
        - Deployments_Management API
  /api/management/v1/deployments/artifacts/directupload/{id}/complete:
    post:
      operationId: Complete Direct Upload
      parameters:
        - description: Artifact ID returned by "Request Direct Upload" API.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectUploadMetadata'
        description: Metadata for contents of the artifact.
[...]
